<% if @my_servers.length > 0 %>
  <div id="order-panel">
    <div class="panel-head">你已接单：</div>

    <% @my_servers.each do |item| %>
      <hr>
      <div class="serving-item">
        <span class="order-title"><%= item.title %></span>
        <span class="order-total">￥<%= item.total %></span>

        <div class="order-location"><%= item.location %></div>
        <div class="btn-line">
          
          <span class="order-cancel">

            <%= button_to '放弃', { 
                              :controller => "orders",
                              :action => "cancel_order",
                              :server_id => current_user.id,
                              :order => item.id
                            },
                        remote: true,
                        class:"btn btn-large btn-danger cancel-order" %>

          </span>
          <span class="more"><%= link_to '详情', order_path(item) %></span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>