<div class="user-show">
  <div class="my-profile">
  <ul class="list-group">
    <li class="list-group-item"><label>名字：</label><span><strong><%= @user.name %> </strong></span></li>
    <li class="list-group-item"><label>邮箱：</label><span><strong><%= @user.email if current_user == @user %></strong></span></li>
    <li class="list-group-item"><label>余额：</label><span><strong><%= @user.balance if current_user == @user %></strong></span></li>
    <li class="list-group-item"><label>电话：</label><span><strong><%= @user.phone if current_user == @user %></strong></span></li>
    <li class="list-group-item"><label>接单评分：</label><span><strong><%= @user.score %></strong></span></li>
    <li class="list-group-item"><label>接单数：</label><span><strong><%= @user.quantity %></strong></span></li>
    <li class="list-group-item"><label>被投诉次数：</label><span><strong><%= @user.wrong_count %></strong></span></li>
    <li class="list-group-item"><label>接单取消次数：</label><span><strong><%= @user.terminated_count %></strong></span></li>
  </ul>
  </div>


  <div class="my-orders">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>标题</th>
          <th>过期时间</th>
          <th>创建时间</th>
          <th>送达位置</th>
          <th>订单状态</th>
          <th>接单员</th>
          <th>总金额</th>
          <th>详情</th>
        </tr>
      </thead>

      <% if @orders && @orders.length > 0 && current_user == @user -%>
      <tbody>
        <% @orders.each do |item| -%>
          <tr>
            <td><%= item.id %></td>
            <td><%= item.title %></td>
            <td><%= item.deadline.strftime('%y年%m月%d日 %H:%M') %></td>
            <td><%= item.created_at.strftime('%y年%m月%d日 %H:%M') %></td>
            <td><%= item.location %></td>
            <td><%= item.status_format %></td>
            <td><%= link_to item.server, user_path(item.server) unless item.server.blank? %></td>
            <td><%= item.total %></td>
            <td><%= link_to '查看', order_path(item) %></td>
          </tr>
        <% end -%>
      </tbody>
      <% end -%>

    </table>
  </div>

</div>