<hr>
<div class="serving-item <%= "order#{item.id}" %>">
  <span class="order-title"><%= item.title %></span>
  <span class="order-total">￥<%= item.total %></span>
  <div class="order-location"><%= item.location %></div>
  <div class="btn-line">

    <span class="order-btn">
      <%= button_to '放弃', {
                              :controller => "orders",
                              :action => "cancel_order",
                              :server_id => current_user.id,
                              :id => item.id
                            },
                          remote: true,
                          class:"btn btn-large btn-danger cancel-order" %>
    </span>
    <span class="more"><%= link_to '详情', order_path(item) %></span>
    <span class="order-btn">
    <%= button_to '我完成了', {
                                :controller => "orders",
                                :action => "pending_order",
                                :id => item.id
                              },
                            remote: true,
                            class:"btn btn-large btn-success pending-order" %>
    </span>
  </div>
</div>