<div class="order-card">
  <div class="order-head"><%= order.user.name %>
    <span class="order-title"><%= order.title %></span>
    <span class="order-total"><%= order.total %></span>
  </div>

  <div class="order-content"><%= order.content %></div>
  
  <div class="order-foot">
    <%= order.deadline %>
    <%= order.location %>
    <%= order.status %>
  </div>
  <div><%= User.find_by_id(order.server).name if order.server %></div>
  <div class="order-btns">
    <span><%= link_to 'More', order %></span>
    <span><%= button_to 'Get it', { 
                              :controller => "orders",
                              :action => "get_order",
                              :user_id => current_user.id,
                              :order => order
                            },
                        remote: true,
                        class:"btn btn-large btn-primary" %>
    </span>

  </div>
</div>

<br />