<div class="order-card">
  <div class="order-head">
    <span class="order-title"><%= order.title %></span>
    
    <span class="order-total">￥<%= order.total %></span>
  </div>


    <div class="order-content well"><%= order.content %></div>
  
    <div class="order-foot">
      <span class="order-deadline <%= 'time-down' if order.deadline != 0 %>"><%= dead_line_type(order.deadline) %></span>
      <span class="order-location"><%= order.location %></span>
    </div>
    <div class="order-btns">
      <%= link_to '详情', order %>
      <% if current_user %>
        <%= button_to '接单', { 
                              :controller => "orders",
                              :action => "get_order",
                              :user_id => current_user.id,
                              :order => order
                            },
                        remote: true,
                        class:"btn btn-large btn-primary get-order" %>
      <% else %>
        <button type="button" class="btn btn-primary get-order" disabled="disabled">登录后可接单</button>
      <% end %>
    </div>



</div>

<br />