<div class="main">
  <div id="information"></div>
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-1 "></div>

      <%= render 'orders/order_panel' %>

      <div class="col-sm-1 "></div>

      <% if @my_servers && @my_servers.length > 0 %>
        <div class="col-sm-6 orders">
          <%= render @orders %>
          <div id="index-paginate">
            <%= will_paginate @orders %>
          </div>
        </div>
      <% else %>
        <div class="centered orders">
          <%= render @orders %>
          <div id="index-paginate">
            <%= will_paginate @orders %>
          </div>
        </div>
      <% end %>

      <div class="col-sm-1 "></div>
    </div>
  </div>
</div>