<div class="order-detail panel panel-default">

  <div class="panel-heading"><strong><%= @order.title %></strong></div>
  <div class="panel-body">

    <div class="item">详细内容: <strong><%= @order.content%></strong></div>
    <div class="item">雇主电话:
    <% if current_user and current_user == @order.user || current_user.name == @order.server %>
      <strong><%= parse_phone(@order.phone)%></strong>
    <% else %>
      不可查看
    <% end %>
    </div>
    <div class="item">截止时间: <strong><%= @order.deadline.strftime('%Y年%m月%d日 %H:%M:%S') %></strong></div>
    <div class="item">创建时间: <strong><%= @order.created_at.strftime('%Y年%m月%d日 %H:%M:%S') %></strong></div>
    <div class="item">接头地点: <strong><%= @order.location%></strong></div>
    <div class="item">交易金额: <strong>￥<%= @order.total%></strong></div>

    <% if @order.stars == nil && current_user == @order.user && (["pending","finished","wrong"].include? @order.status) %>

      <div class="item star">请评分:
        <span class="glyphicon glyphicon-star-empty 1" ></span>
        <span class="glyphicon glyphicon-star-empty 2" ></span>
        <span class="glyphicon glyphicon-star-empty 3" ></span>
        <span class="glyphicon glyphicon-star-empty 4" ></span>
        <span class="glyphicon glyphicon-star-empty 5" ></span>
      </div>
    <% elsif @order.stars != nil %>
      <div class="item star-set">已评分:
        <% for i in 1..5 %>
          <% if @order.stars >= i %>
            <span class="glyphicon glyphicon-star" ></span>
          <% else %>
            <span class="glyphicon glyphicon-star-empty" ></span>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <%# nothing %>
    <% end %>
    <% if @order.status == "pending" && current_user == @order.user &&!(["finished","wrong"].include? @order.status) %>
      <div id="confirm-line">
        <%= button_to "确认送达！", {
                              :controller => "orders",
                              :action => "finished_order",
                              :user_id => current_user.id,
                              :id => @order.id
                            },
                        remote: true,
                        class:"btn btn-large btn-success finished-btn",
                        autocomplete:"off" %>
        <%= link_to "订单出错，投诉！", {
                              :controller => "orders",
                              :action => "wrong_order",
                              :id => @order.id
                            },
                        class:"btn btn-large btn-danger",
                        autocomplete:"off" %>
      </div>
    <% end %>
    <% if @order.process %>
      <div class="order-process"><%= format_process(@order.process).html_safe %></div>
    <% end %>
  </div>
</div>

<% if current_user and current_user == @order.user || current_user.name == @order.server %>
  <% if @server %>
    <div class="order-detail panel panel-default">
      <div class="panel-heading">接单员信息</div>
      <div class="panel-body">
        <div class="item">名字:<%= @server.name %></div>
        <div class="item">评分:<%= @server.score %></div>
        <div class="item">接单量:<%= @server.quantity %></div>
        <div class="item">出错订单数:<%= @server.wrong_count %></div>
        <div class="item">取消订单数:<%= @server.terminated_count %></div>

      </div>
    </div>
  <% end %>
<% end %>